h3 {
  @apply text-center text-2xl font-bold mb-4 mt-8;
}
form {
  @apply flex flex-col bg-beige p-4;

  .input-group {
    @apply flex;
  }
  .input-group > label {
    @apply mr-4 px-2 py-0;
  }

  label {
    @apply min-w-[35%] font-bold text-[1.25em];
  }
  input,
  select {
    @apply min-w-[65%] p-2 mb-4;
  }
  button {
    @apply bg-grey text-white border-none cursor-pointer p-4;
  }
  fieldset {
    @apply border-none;
  }
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.error {
  @apply text-red-600 font-bold;

  div {
    @apply leading-3 pb-4 ml-6;
  }
}