<h3>{{ message }}</h3>
<div class="form-group">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="input-group">
            <label for="email">Email: </label>
            <input type="text" placeholder="Email" required name="email" id="email" formControlName="email" />
        </div>
        @let email = loginForm.get('email');
        @if(email?.dirty && email?.invalid || message){
        <div class="error">* Email is Mandatory</div>
        }
        <div class="input-group">
            <label for="password">Password: </label>

            <input type="password" placeholder="Password" required name="password" id="password"
                formControlName="password" />

        </div>
        @let password = loginForm.get('password');
        @if(password?.dirty && password?.invalid || message){
        <div class="error">* Password is Mandatory</div>
        }
        <div class="row">
            <button [disabled]="loginForm.invalid">Login</button>
        </div>
    </form>
</div>